@model SistemaInventarios.Models.AppDBContext.Usuarios

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar usuario</h2>

<h3>¿Estás seguro de eliminar este usuario</h3>
<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Rol de usuario:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesUsuarios.NombreRol)
        </dd>

        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>
    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a Usuarios", "Index")
        </div>
    }
</div>
