@model SistemaInventarios.Models.AppDBContext.Usuarios

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Usuarios</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Rol de usuario:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RolesUsuarios.NombreRol)
        </dd>

        <dt>
            @Html.DisplayName("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Nombre)
        </dd>

        <dt>
            @Html.DisplayName("Palabra:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Palabra)
        </dd>

        <dt>
            @Html.DisplayName("Sesión:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Sesion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.IdUser }) |
    @Html.ActionLink("Regresar a Usuarios", "Index")
</p>
