@model IEnumerable<SistemaInventarios.Models.AppDBContext.Usuarios>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Usuarios del Sistema</h2>

<p>
    @Html.ActionLink("Crear Nuevo Usuario", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayName("Rol")
        </th>
        <th>
            @Html.DisplayName("Id Usuario")
        </th>
        <th>
            @Html.DisplayName("Nombre")
        </th>

        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RolesUsuarios.NombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IdUser)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.IdUser }) |
            @Html.ActionLink("Ver más", "Details", new { id=item.IdUser }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.IdUser })
        </td>
    </tr>
}

</table>
