@model IEnumerable<SistemaInventarios.Models.AppDBContext.Usuario>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.RolesUsuario.NombreRol)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Pass)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Palabra)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.RolesUsuario.NombreRol)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Pass)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Nombre)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Palabra)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.IdUser }) |
            @Html.ActionLink("Details", "Details", new { id=item.IdUser }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.IdUser })
        </td>
    </tr>
}

</table>
