@model SistemaInventarios.Models.AppDBContext.Articulo

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Details</h2>

<div>
    <h4>Articulo</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NombreArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.CantidadArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadArt)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DescripcionArt)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.IdArticulo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
