@model SistemaInventarios.Models.AppDBContext.Articulos

@{
    ViewBag.Title = "Delete";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Eliminar Artículo</h2>

<h3>¿Estás seguro de querer eliminar este artículo?</h3>
<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArt)
        </dd>

        <dt>
            @Html.Label("Cantidad:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadArt)
        </dd>

        <dt>
            @Html.Label("Descripción:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArt)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-default" /> |
            @Html.ActionLink("Regresar a Artículos", "Index")
        </div>
    }
</div>
