@model SistemaInventarios.Models.AppDBContext.Articulos

@{
    ViewBag.Title = "Details";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Detalle Artículos</h2>

<div>
    <h4>Articulos</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.Label("Nombre:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NombreArt)
        </dd>

        <dt>
            @Html.Label("Cantidad:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.CantidadArt)
        </dd>

        <dt>
            @Html.Label("Descripción:")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DescripcionArt)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar Artículo", "Edit", new { id = Model.IdArticulo }) |
    @Html.ActionLink("Regresar a Artículos", "Index")
</p>
